$orange: #F87D1C;

$primary: $orange;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma-tooltip";

.image,
.icon {
  display: flex;
  align-items: center;
}
